[user]
	name = Jordan Feldstein
	email = jfeldstein@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/jordan/.gitignore_global
[alias]
	unadd = reset HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	alias = !git config --get-regexp 'alias.*'
	aliases = "!echo --- use \\'git alias\\' --- ; git alias"
	st = "!echo \"# Working as `git config user.name` <`git config user.email`>\"; echo \"#\"; git status"
	ci = !git commit
	co = !git checkout
	fuckit = !git reset --hard
	production-tag = !git tag -l 'production-*' | sort -n -k2 -t- | tail -1
	staging-tag = !git tag -l 'staging-*' | sort -n -k2 -t- | tail -1
	latest-tag = !git log --pretty=oneline -1 | sed 's/ .*//'
	tree = log --graph --pretty=format:'%C(yellow)%h%Creset%C(blue)%d%Creset %C(white bold)%s%Creset %C(white dim)(by %an %ar)%Creset'
	updater = submodule update --init --recursive
	ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
	lsv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
	oy = !git st
